div#rightsidebar {
    position: fixed;
    top: 100px;
    right: 0px;
    margin: 0px;
    padding: 20px 0px 0px;
    background: #5681b4;
    list-style: none;
    z-index: 9999;
    width: 200px;
    border-radius: 10px 0px 0px 10px
}

div#rightsidebar .nav-btn {
    background: #5681b4;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    top: 10px;
    left: -40px;
    width: 40px;
    height: 70px;
    display: block;
    cursor: pointer;
}

div#rightsidebar .nav-btn img {
margin: 20px 0px 0px 13px
}

div#rightsidebar li {
    width: 100px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

div#rightsidebar li a {
    color: #FFF;
    text-decoration: none;
}

div#rightsidebar div#progress-info {
    width: 100px;
}