{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}
{% set jstop = True %}

{% block content %}
{% assets filters="jsmin", output="js/gen/full.min.js",
          "js/vendor/jquery-2.2.3.js", "js/vendor/bootstrap.js", 
          "js/vendor/modernizr.min.js", "js/flashmessages.js", 
          "js/vendor/cookieconsent.min.js",
          "js/pybossa/pybossa.js",
          "js/pybossa-player/dist/pybossa-player.min.js",
          "js/vendor/bootstrap-slider.js",
          "js/pybossaapi.js",
          "js/progress_bar.js"
          %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
    Modernizr.load({
        test: window.JSON,
        nope: '{{url_for('static', filename='js/vendor/json2.min.js')}}'
});
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><a href="{{url_for('project.details', short_name=project.short_name)}}">{{ project.name }}</a>: {{ _('Contribute') }}</h1>
        </div>
    </div>
    {% if invite_new_volunteers %}
    <div class="row">
        <div class="col-md-12">
            <p>
            {{ _("Sorry, you've contributed to all the tasks for this project, but this project still needs more volunteers, so please spread the word!") }}
            </p>
        </div>
    </div>
    {% endif %}
    {{ project.info.task_presenter|safe }}
    {% include "projects/progress_bar.html" %}
    <script>
        function  updateProgressInfo(started) {
            response = pybossaapi.getTaskRuns({{current_user.id}}, 90).done(function (response) {
                var numberOfSaved = Math.floor(response.length / progressBar.tokenValue);
                var additionalSave = response.length % progressBar.tokenValue;
                if (additionalSave === 0 && started) {
                    $('.handle').find('.img-effect').animate({left: 1}, {
                        duration: 2000,
                        start: function () {
                            $('#stats-image').attr('src', "/static/img/transition_5.png")
                            $(this).addClass('img-glow');
                        },
                        complete: function () {
                            $('#stats-image').attr('src', "/static/img/transition_0.png")
                            $(this).removeClass('img-glow')
                        }
                    })
                } else if (started) {
                    $('.handle').find('.img-effect').animate({left: 1}, {
                        duration: 2000,
                        start: function () {
                            $('#stats-image').attr('src', "/static/img/count_transition_" + additionalSave + ".png");
                            $(this).addClass('img-glow');
                        },
                        complete: function () {
                            $('#stats-image').attr('src', "/static/img/transition_" + additionalSave + ".png");
                            $(this).removeClass('img-glow')
                        }
                    });
                } else {
                    var imageUrl = "/static/img/transition_" + additionalSave + ".png";
                    $('#stats-image').attr('src', imageUrl)
                }
                $('#progress-info').text("You made " + Math.floor(response.length / (progressBar.tokenValue)) + " people happy so far.");
            });
        }
        updateProgressInfo(false);
    </script>
    <div id='PYBOSSA_USER_LOCALE' hidden>
        {% if current_user.is_anonymous() %}
        en
        {% else %}
        {{ current_user.locale }}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block extrajs %}
{% include "_flash_messages.html" %}
{% endblock %}

